* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
}

.section {
    width: 100%;
    min-height: 100vh;
    background-color: gray;

}

.main {
    width: 600px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    position: relative;


}

.kvadrat1 {
    width: 300px;
    height: 200px;
    border: 10px solid green;
    background-color: rgb(254, 170, 61);
    position: absolute;
    left: 50px;
    bottom: 100px;
}

.kvadrat2 {
    width: 300px;
    height: 200px;
    border: 10px solid green;
    position: absolute;
    
}

.image {
    width: 100px;
    height: 200px;
    object-fit: cover;
}